/* 
    General Styles
*/
.contact {
    list-style: none;
    width: 70%;
    display: flex;
}

i {
    margin-right: 2em;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
}

#btn-edit:hover {
    color:rgb(1, 123, 1);
    cursor: pointer;
}

#btn-delete:hover {
    color:rgb(251, 0, 0);
    cursor: pointer;
}
